@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    display: none;
}

/* Track */
/* ::-webkit-scrollbar-track {
    background-color: none;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background-color: none;
} */

a.active hr {
    display: block;

}

* {
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }

}